body {
    margin-bottom: 60px;
}

p {
    font-family: Monaco, sans-serif;
    font-size: 0.9em;
    margin: 20px 0;
    line-height: 1.5em;
    text-align: left;
}

a, a:link, a:visited {
    font-family: Monaco, sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

a:active, a:hover {
    text-decoration: none;
}

nav {
    margin: 20px 0;
    padding: 10px 60px;
}

nav a, nav a:link, nav a:active, nav a:visited,
.toggle a, .toggle a:link, .toggle a:active, .toggle a:visited {
    margin-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover,
.toggle a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 20px 0;
    font-family: Monaco, sans-serif;
    line-height: 1.55em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

header h1 {
    font-size: 3em;
    margin: 40px 60px;
    white-space: nowrap;
}

header h1 a:link, header h1 a:active, header h1 a:visited, header h1 a:hover {
    font-family: Arial, sans-serif;
    text-decoration: none;
}

h1.heading {
    margin: 40px 0 20px;
    font-size: 2em;
}

blockquote {
    margin: 40px 0;
    padding: 20px;
    width: 768px;
}

blockquote p {
    font-size: 1em;
    font-family: Monaco, sans-serif;
    margin: 0 0 1.4em;
}

blockquote cite {
    font-style: italic;
    display: block;
    text-align: right;
    width: 98%;
    font-weight: bold;
    font-size: 1.1em;
}

blockquote cite:before {
    content: "~ ";
    font-weight: bold;
    font-size: 1.1em;
}

section {
    margin: 0 0 100px 60px;
}

section ul {
    margin: 0 0 20px 0;
}

section ol {
    margin: 0 0 20px 10px;
}

section li {
    font-family: Monaco, sans-serif;
    font-size: 1em;
    margin: 3px 20px;
}

footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
}

footer p {
    font-family: Monaco, sans-serif;
    font-size: .9em;
    margin: 10px 60px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
    display: block;
}

.hidden {
    display: none;
}

h2.highlight {
    margin-bottom: 20px;
}

.toggle {
    float: right;
    margin: -76px 60px 0 0;
}
