{% extends "layout.html" %}
{% block content %}
    <h1 class="heading">Lambda School Labs</h1>
    <h2 class="highlight">Bandersnatch v1.3.4</h2>
    <h3>Tech Stack</h3>
    <ul>
        <li>Business Logic: Python3</li>
        <li>Framework: Flask</li>
        <li>Templates: Jinja2</li>
        <li>Layouts: HTML5</li>
        <li>Styles: CSS 3</li>
        <li>Database: MongoDB</li>
        <li>Graphs: Altair</li>
        <li>Hosting: Heroku</li>
        <li>RNG Engine:
            <a href="https://pypi.org/project/Fortuna/" target="_blank">
                Fortuna
            </a>
        </li>
        <li>Random Monsters:
            <a href="https://pypi.org/project/MonsterLab/" target="_blank">
                MonsterLab
            </a>
        </li>
    </ul>
    <h3>Data Science Developer Team</h3>
    <ul>
        <li>Robert Sharp: Systems Designer, Product Visionary, Dev Ops</li>
        <li>Eugene Albright: Machine Learning Engineer</li>
        <li>April Fairweather: Data Analyst, Data Engineer</li>
        <li>Thackery Binx: API Engineer, ML Ops</li>
    </ul>
    <blockquote>
        <p>This is an example Flask app created to showcase the techniques
            used to create dynamic, interactive, efficient web apps with
            live data science components. This app is intended to be used as a
            teaching resource. Act now, use at your own risk, valid only
            while supplies last, void where prohibited, and most of all -
            enjoy!</p>
        <cite>Robert Sharp</cite>
    </blockquote>
    <article>
        <h3>Development Log</h3>
        <ul>
            <li>Bandersnatch v1.3.3: Predictions Graph</li>
            <li>Bandersnatch v1.2.10: Download Extras</li>
            <li>Bandersnatch v1.2.5: Download Model</li>
            <li>Bandersnatch v1.1.5: Predict Data</li>
            <li>Bandersnatch v1.1.4: Train Data</li>
            <li>Bandersnatch v1.1.3: Graph Data</li>
            <li>Bandersnatch v1.1.2: Table Data</li>
            <li>Bandersnatch v1.1.1: Create Data</li>
            <li>Bandersnatch v1.0.0: Initial Structure</li>
        </ul>
    </article>
{% endblock %}
